<h2 mat-dialog-title>Створии нову зміну</h2>
<mat-dialog-content class="container webkit-pretty-scroll">
  <form class="form-container" [formGroup]="addShiftForm">
    <mat-error>{{ errorMessage }}</mat-error>

    <div class="add-essential-wrapper">
      Додати працівника до зміни
      <button mat-icon-button class="add-essential-button">
        <mat-icon (click)="addEmployee()">add_circle_outline</mat-icon>
      </button>
    </div>

    <div class="essential-wrapper"
      formArrayName="employee"
      *ngFor="let essential of addShiftForm.get('employee').controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="worker-name-wrapper">
          <app-custom-autocomplete
            class="essential-name"
            [autocompleteValues]="employeeStrings"
            placeholder="Почніть вводити ім'я працівника"
            formControlName="employeeId">
          </app-custom-autocomplete>

          <button mat-icon-button class="delete-essential-button">
            <mat-icon (click)="deleteEmployee(i)">clear</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>

    <div class="add-essential-wrapper">
      Додати робочий день
      <button mat-icon-button class="add-essential-button">
        <mat-icon (click)="addDate()">add_circle_outline</mat-icon>
      </button>
    </div>

    <div class="shift"
      formArrayName="shiftsSchedule"
      *ngFor="let essential of addShiftForm.get('shiftsSchedule').controls; let i = index">
      <mat-form-field class="date">
        <mat-label>Дата</mat-label>
        <input matInput
               [formControlName]="i"
               [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <button mat-icon-button class="delete-essential-button">
        <mat-icon (click)="deleteDate(i)">clear</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<div matDialogActions>
  <button mat-button type="submit" (click)="createVacancy()">Додати</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">
    Відмінити
  </button>
</div>
