<h2 mat-dialog-title>Додати новий продукт</h2>
<mat-dialog-content class="container webkit-pretty-scroll">
  <form class="form-container"
        [formGroup]="addProductForm">
    <mat-error>{{ errorMessage }}</mat-error>

    <mat-form-field>
      <mat-label>Назва</mat-label>
      <input matInput
             formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ціна</mat-label>
      <input matInput
             type="number"
             formControlName="price">
    </mat-form-field>

    <app-custom-autocomplete
      [autocompleteValues]="expirationsStrings"
      placeholder="Почніть вводити кількість днів або температуру"
      formControlName="expirationId">
    </app-custom-autocomplete>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Не знайшли, що шукали?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="panel-body">
        <mat-form-field>
          <mat-label>Кількість днів</mat-label>
          <input matInput
                 type="number"
                 formControlName="daysAmount">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Температура</mat-label>
          <input matInput
                 type="number"
                 formControlName="temperature">
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <app-custom-autocomplete
      [autocompleteValues]="nutritionalsStrings"
      placeholder="Почніть вводити к-сть калорій, жирів, білків або вуглеводів"
      formControlName="nutritionalId">
    </app-custom-autocomplete>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Не знайшли, що шукали?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="panel-body">
        <mat-form-field>
          <mat-label>Калорії</mat-label>
          <input matInput
                type="number"
                formControlName="calories">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Білки</mat-label>
          <input matInput
                type="number"
                formControlName="proteins">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Жири</mat-label>
          <input matInput
                type="number"
                formControlName="fats">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Вуглеводи</mat-label>
          <input matInput
                type="number"
                formControlName="carbohydrates">
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <app-custom-autocomplete
      [autocompleteValues]="packagesStrings"
      placeholder="Почніть вводити місткість або тип упакування"
      formControlName="packageId">
    </app-custom-autocomplete>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Не знайшли, що шукали?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="panel-body">
        <mat-form-field>
          <mat-label>Тип упакування</mat-label>
          <input matInput
                formControlName="type">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Місткість</mat-label>
          <input matInput
                type="number"
                formControlName="volume">
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <div class="add-essential-wrapper">
      Додати складник до рецепту
      <button mat-icon-button class="add-essential-button">
        <mat-icon (click)="addEssential()">add_circle_outline</mat-icon>
      </button>
    </div>

    <div class="essential-wrapper"
         formArrayName="essentials"
         *ngFor="let essential of addProductForm.get('essentials').controls; let i = index">

      <ng-container [formGroupName]="i">
        <app-custom-autocomplete
          class="essential-name"
          [autocompleteValues]="essentialsStrings"
          placeholder="Почніть вводити назву складника"
          formControlName="id">
        </app-custom-autocomplete>

        <mat-form-field>
          <mat-label>Вага</mat-label>
          <input matInput formControlName="weight">
        </mat-form-field>
      </ng-container>

      г/кг
      <button mat-icon-button class="delete-essential-button">
        <mat-icon (click)="deleteEssential(i)">clear</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<div matDialogActions>
  <button mat-button type="submit" (click)="createVacancy()">Додати</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">Відмінити</button>
</div>
