<div class="wrapper">
  <div class="page-heading">
    <h1>Продукти</h1>
    <button color="primary"
            mat-mini-fab
            (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Фільтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Н-д: молоко">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table class="table" [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва</th>
        <td mat-cell *matCellDef="let row"> {{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ціна</th>
        <td mat-cell *matCellDef="let row"> {{row.price}} грн</td>
      </ng-container>

      <ng-container matColumnDef="expiration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Термін придатності</th>
        <td mat-cell *matCellDef="let row"> {{row.expiration.daysAmount}} днів</td>
      </ng-container>

      <ng-container matColumnDef="nutritional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Поживна цінність</th>
        <td mat-cell *matCellDef="let row"> {{row.nutritional.calories}} ккал</td>
      </ng-container>

      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Упакування</th>
        <td mat-cell *matCellDef="let row"> {{row.package.volume}} кг</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дії</th>
        <td mat-cell *matCellDef="let row">
          <button color="warn" mat-icon-button (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="edit-button" mat-icon-button (click)="edit(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="details"
               [@detailExpand]="element?.id == expandedElement?.id ? 'expanded' : 'collapsed'">
            <div class="column nutritional">
              <span class="heading">Поживна цінність:</span>
              <span>Білки: {{expandedElement?.nutritional?.proteins}} г</span>
              <span>Жири: {{expandedElement?.nutritional?.fats}} г</span>
              <span>Вуглеводи: {{expandedElement?.nutritional?.carbohydrates}} г</span>
            </div>

            <div class="column expiration">
              <span class="heading">Термін придатності:</span>
              <span>{{expandedElement?.expiration?.daysAmount}} днів
              при температурі {{expandedElement?.expiration?.temperature}}°C</span>
            </div>

            <div class="column package">
              <span class="heading">Тип упаковки:</span>
              <span>{{expandedElement?.package?.type}}, {{expandedElement?.package?.volume}} л</span>
            </div>

            <div class="column package">
              <span class="heading">Склад:</span>
              <span *ngFor="let essential of expandedElement?.productsEssentals">
                {{essential.essential.name}} - {{ essential.weight * 1000}} гр
              </span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <mat-paginator pageSize="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
