<div class="wrapper">
  <div class="page-heading">
    <h1>Працівники</h1>
    <button color="primary"
            mat-mini-fab
            (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Фільтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Н-д: Іванчук">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table class="table" [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ім'я</th>
        <td mat-cell *matCellDef="let row"> {{row.contact.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Прізвище</th>
        <td mat-cell *matCellDef="let row"> {{row.contact.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Позиція</th>
        <td mat-cell *matCellDef="let row"> {{row.position}}</td>
      </ng-container>

      <ng-container matColumnDef="shiftId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Зміна</th>
        <td mat-cell *matCellDef="let row"> {{row.shiftId}}</td>
      </ng-container>

      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Зарплата</th>
        <td mat-cell *matCellDef="let row"> {{row.salary}} грн/день</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дії</th>
        <td mat-cell *matCellDef="let row">
          <button color="warn" mat-icon-button (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="edit-button" mat-icon-button (click)="edit(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="details"
               [@detailExpand]="element?.id == expandedElement?.id ? 'expanded' : 'collapsed'">
            <div class="column contact">
              <span class="heading">Контакти:</span>
              <span>ПІБ: {{expandedElement?.contact?.firstName + ' ' + expandedElement?.contact?.lastName}}</span>
              <span>Телефон: {{expandedElement?.contact?.phoneNumber}}</span>
              <span>E-mail: {{expandedElement?.contact?.eMail}}</span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <mat-paginator pageSize="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
