.mat-dialog-content {
  overflow-x: hidden;
}

.container {
  width: 600px;

  .form-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }
}


.panel-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mat-expansion-panel {
  margin-bottom: 20px;
}

.add-essential-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .add-essential-button {
    width: 50px;
    height: 50px;
    color: green;
    user-select: none;
    cursor: pointer;
  }
}

.essential-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .essential-name {
    flex-grow: 2;
    margin-right: 15px;
  }

  .delete-essential-button {
    width: 50px;
    height: 50px;
    color: red;
    user-select: none;
    cursor: pointer;
  }
}
