<div class="wrapper">
  <div class="page-heading">
    <h1>Склад</h1>
    <button class="button produce-product" mat-flat-button color="primary" (click)="produce()">Виготовити продукт</button>
    <button class="button" mat-flat-button color="warn" (click)="clear()">Видалити протерміновані продукти</button>
  </div>

  <mat-form-field>
    <mat-label>Фільтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Н-д: Молоко або 2020-06-15">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table class="table" [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Продукт</th>
        <td mat-cell *matCellDef="let row"> {{row.product.name}}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Кількість</th>
        <td mat-cell *matCellDef="let row"> {{row.amount}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Збути до</th>
        <td mat-cell *matCellDef="let row"> {{row.date}}</td>
      </ng-container>

      <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер зімни</th>
        <td mat-cell *matCellDef="let row"> {{row.shiftId}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row">
      </tr>
    </table>

    <mat-paginator pageSize="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
