<div class="wrapper">
  <div class="page-heading">
    <h1>Складники продуктів</h1>
    <button color="primary"
            mat-mini-fab
            (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Фільтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Н-д: молоко">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table class="table" [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва</th>
        <td mat-cell *matCellDef="let row"> {{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дії</th>
        <td mat-cell *matCellDef="let row">
          <button color="warn" mat-icon-button (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row">
      </tr>
    </table>

    <mat-paginator pageSize="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
