<h2 mat-dialog-title>Виготовити продукт</h2>
<mat-dialog-content class="container webkit-pretty-scroll">
  <form class="form-container"
        [formGroup]="produceProductForm">
    <mat-error>{{ errorMessage }}</mat-error>

    <app-custom-autocomplete
      class="product-name"
      [autocompleteValues]="productsList"
      placeholder="Почніть вводити назву продукту"
      formControlName="productId">
    </app-custom-autocomplete>

    <mat-form-field>
      <mat-label>Кількість</mat-label>
      <input matInput
             type="number"
             formControlName="amount">
    </mat-form-field>
  </form>
</mat-dialog-content>

<div matDialogActions>
  <button mat-button type="submit" (click)="createVacancy()">Виготовити</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">Відмінити</button>
</div>
