<h2 mat-dialog-title>Сформувати фінансовий звіт</h2>
<mat-dialog-content class="container webkit-pretty-scroll">
  <form class="form-container"
        [formGroup]="addRevenueForm">
    <mat-error>{{ errorMessage }}</mat-error>

    <mat-form-field>
      <mat-label>Початкова дата</mat-label>
      <input matInput
             formControlName="startDate"
             [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Кінцева дата</mat-label>
      <input matInput
             formControlName="endDate"
             [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<div matDialogActions>
  <button mat-button type="submit" (click)="createVacancy()">Додати</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">Відмінити</button>
</div>
