<div class="wrapper">
  <div class="page-heading">
    <h1>Робочі зміни</h1>
    <button color="primary" mat-mini-fab (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Фільтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Н-д: молоко" />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table
      mat-table
      class="table"
      [dataSource]="dataSource"
      matSort
      multiTemplateDataRows
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер зміни</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="workersNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Кількість працівників
        </th>
        <td mat-cell *matCellDef="let row">{{ row.workersNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Дата наступної зміни
        </th>
        <td mat-cell *matCellDef="let row">{{ row.date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Дії</th>
        <td mat-cell *matCellDef="let row">
          <button color="warn" mat-icon-button (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="edit-button" mat-icon-button (click)="edit(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length">
          <div
            class="details"
            [@detailExpand]="element?.id == expandedElement?.id ? 'expanded' : 'collapsed'">
            <div class="column nutritional">
              <span class="heading">Робітники:</span>
              <div *ngFor="let worker of element.employee">
                {{ worker.contact.firstName }} {{ worker.contact.lastName }} -
                {{ worker.position }} ({{ worker.salary }} грн/день)
              </div>
            </div>

            <div class="column">
              <span class="heading">Дати зміни:</span>
              <div *ngFor="let shift of element.shiftsSchedule">
                {{ shift.date }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>

    <mat-paginator
      pageSize="25"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </div>
</div>
