.wrapper {
  width: 90%;
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table {
  width: 100%;
}

::ng-deep.mat-column-actions {
  width: 80px;

  &.mat-header-cell{
    padding-left: 10px;
  }
}

.example-element-row {
  &:hover {
    background: rgba(200, 200, 200, 0.5);
  }

  td {
    border-bottom-width: 0;
  }
}

.example-detail-row {
  height: 0;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.heading {
  font-weight: 600;
  margin: 5px 0;
}

.details {
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 50px;
}

.page-heading {
  display: flex;
  align-items: center;

  .mat-mini-fab {
    margin-left: 15px;
  }
}

.edit-button {
  color: rgb(255, 230, 0);
}

.mat-paginator {
  margin-bottom: 25px;
}
