<h2 mat-dialog-title>Створити замовлення</h2>
<mat-dialog-content class="container webkit-pretty-scroll">
  <form class="form-container"
        [formGroup]="addOrderForm">
    <mat-error>{{ errorMessage }}</mat-error>

    <mat-form-field>
      <mat-label>Ціна</mat-label>
      <input matInput
            type="number"
            formControlName="price">
    </mat-form-field>

    <app-custom-autocomplete
      [autocompleteValues]="providersList"
      placeholder="Почніть вводити ім'я постачальника"
      formControlName="providerId">
    </app-custom-autocomplete>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Не знайшли, що шукали?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="panel-body">
        <mat-form-field>
          <mat-label>Ім'я</mat-label>
          <input matInput
                 formControlName="firstName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Прізвище</mat-label>
          <input matInput
                 formControlName="lastName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Номер телефону</mat-label>
          <input matInput
                formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput
                type="email"
                formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Рейтинг</mat-label>
          <input matInput
                type="number"
                formControlName="rating">
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <div class="add-essential-wrapper">
      Додати продукт до замовлення
      <button mat-icon-button class="add-essential-button">
        <mat-icon (click)="addProduct()">add_circle_outline</mat-icon>
      </button>
    </div>

    <div class="essential-wrapper"
         formArrayName="essentialsEssentialOrders"
         *ngFor="let essential of addOrderForm.get('essentialsEssentialOrders').controls; let i = index">

      <ng-container [formGroupName]="i">
        <app-custom-autocomplete
          class="essential-name"
          [autocompleteValues]="essentialsList"
          placeholder="Почніть вводити назву складника"
          formControlName="essentialId">
        </app-custom-autocomplete>

        <mat-form-field>
          <mat-label>Вага</mat-label>
          <input matInput formControlName="weight">
        </mat-form-field>
        кг
      </ng-container>
      <button mat-icon-button class="delete-essential-button">
        <mat-icon (click)="deleteEssential(i)">clear</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<div matDialogActions>
  <button mat-button type="submit" (click)="createVacancy()">Додати</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">Відмінити</button>
</div>
