<h2 mat-dialog-title>Редагувати дані про працівника</h2>
<mat-dialog-content class="container webkit-pretty-scroll">
  <form class="form-container"
        [formGroup]="editEmployeeForm">
    <mat-error>{{ errorMessage }}</mat-error>

    <mat-form-field>
      <mat-label>Ім'я</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Прізвище</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Номер телефону</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Позиція</mat-label>
      <input matInput formControlName="position" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Зарплатня за день</mat-label>
      <input matInput formControlName="salary" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<div matDialogActions>
  <button mat-button type="submit" (click)="createVacancy()">Редагувати</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">Відмінити</button>
</div>
