<div class="wrapper">
  <h2 mat-dialog-title>Вас вітає Milk4U</h2>
  <form class="form-container"
        [formGroup]="addUserForm">
    <mat-error>{{ errorMessage }}</mat-error>

    <mat-form-field>
      <mat-label>Логін</mat-label>
      <input matInput
            formControlName="userName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input matInput
            type="password"
            formControlName="password">
    </mat-form-field>
    <button mat-button type="submit" (click)="createVacancy()">Увійти</button>
  </form>
</div>
