<div>
  <h3>Ви впевнені, що хочете видалити зі складу всі <strong>протерміновані</strong> продукти?</h3>
  <h4>Продукти із сьогоднішньою датою також будуть видалені</h4>

  <mat-error>{{ errorMessage }}</mat-error>

  <div matDialogActions>
    <button mat-button type="button"
            (click)="delete()">
      Видалити
    </button>

    <button mat-button mat-dialog-close
            [mat-dialog-close]="false">
      Відмінити
    </button>
  </div>
</div>
