<div class="wrapper">
  <div class="page-heading">
    <h1>Замовлення</h1>
    <button color="primary"
            mat-mini-fab
            (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Фільтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Н-д: 22-05-2020 або Іваненко">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table class="table" [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc" multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Сума</th>
        <td mat-cell *matCellDef="let row"> {{row.price}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата</th>
        <td mat-cell *matCellDef="let row"> {{row.date}}</td>
      </ng-container>

      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Покупець</th>
        <td mat-cell *matCellDef="let row"> {{row.customer.contact.firstName + ' ' + row.customer.contact.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="saler">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Продавець</th>
        <td mat-cell *matCellDef="let row"> {{row.saler.contact.firstName + ' ' + row.saler.contact.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="return">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Повернене</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.returns.length === 0; else returned">
            Ні
          </ng-container>
          <ng-template #returned>
            Так
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дії</th>
        <td mat-cell *matCellDef="let row">
          <button color="warn" class="return-button" mat-icon-button (click)="returnOrder(row)">
            <mat-icon>refresh</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="details"
               [@detailExpand]="element?.id == expandedElement?.id ? 'expanded' : 'collapsed'">
            <div class="column customer">
              <span class="heading">Покупець:</span>
              <span>ПІБ: {{expandedElement?.customer?.contact?.firstName + ' ' + expandedElement?.customer?.contact?.lastName}}</span>
              <span>Телефон: {{expandedElement?.customer?.contact?.phoneNumber}}</span>
              <span>E-mail: {{expandedElement?.customer?.contact?.eMail}}</span>
            </div>

            <div class="column seler">
              <span class="heading">Продавець:</span>
              <span>ПІБ: {{expandedElement?.saler?.contact?.firstName + ' ' + expandedElement?.saler?.contact?.lastName}}</span>
              <span>Телефон: {{expandedElement?.saler?.contact?.phoneNumber}}</span>
              <span>E-mail: {{expandedElement?.saler?.contact?.eMail}}</span>
            </div>

            <div *ngIf="expandedElement?.returned" class="column return">
              <span class="heading">Повернення:</span>
              <span>Причина: {{expandedElement?.returns[0]?.reason}}</span>
              <span>Дата: {{expandedElement?.returns[0]?.date}}</span>
            </div>

            <div class="column package">
              <span class="heading">Замовлені продукти:</span>
              <span *ngFor="let essential of expandedElement?.ordersProducts">
                {{ essential.productName }} - {{ essential.amount}} шт
              </span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <mat-paginator pageSize="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
