<mat-toolbar class="header-container" color="primary">
  <div class="pages-container">
    <nav mat-tab-nav-bar>
      <div *ngFor="let link of currentRoutes">
        <a mat-tab-link
           *ngIf="link.roles.indexOf(user.role) !== -1"
           [routerLink]="link.path"
           routerLinkActive="active-page"
           #routerLink="routerLinkActive"
           [active]="routerLink.isActive"
           [routerLinkActiveOptions]="{ exact: true }">
          {{ link.name }}
        </a>
      </div>
    </nav>
  </div>

  <div class="profile-container">
    <span class="user-name">{{user.userName}}</span>

    <mat-icon *ngIf="authService.loggedIn"
              class="expand-profile-details-button"
              [matMenuTriggerFor]="profileMenu"
              aria-label="Expand profile">
      arrow_drop_down
    </mat-icon>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>{{user.userName}}</button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()">Вийти</button>
    </mat-menu>
  </div>
</mat-toolbar>
