::ng-deep{
  .mat-tab-link {
    color: white;
    opacity: unset !important;
  }

  .mat-ink-bar {
    background-color: white !important;
  }
}

.header-container {
  z-index: 2;
  height: 48px;
  display: flex;
  justify-content: center;

  .profile-container {
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
}
