<div>
  <h3>Ви впевнені, що хочете видалити <strong>{{item.name}}</strong>?</h3>

  <mat-error>{{ errorMessage }}</mat-error>

  <div matDialogActions>
    <button mat-button type="button"
            (click)="delete()">
      Видалити
    </button>

    <button mat-button mat-dialog-close
            [mat-dialog-close]="false">
      Відмінити
    </button>
  </div>
</div>
