<div class="wrapper">
  <h2 mat-dialog-title>Додати нового користувача</h2>
  <form class="form-container"
        [formGroup]="addUserForm">
    <mat-error>{{ errorMessage }}</mat-error>
    <div class="success">{{successMessage}}</div>

    <mat-form-field>
      <mat-label>Логін</mat-label>
      <input matInput
            formControlName="userName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input matInput
            formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Роль</mat-label>
      <mat-select matInput formControlName="role">
        <mat-option value="0">
          Адміністратор системи
        </mat-option>
        <mat-option value="1">
          Менеджер продаж
        </mat-option>
        <mat-option value="2">
          Менеджер виробництва
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button type="submit" (click)="createVacancy()">Додати</button>
  </form>
</div>
