.wrapper {
  width: 90%;
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table {
  width: 100%;

  .mat-column-id {
    width: 50px;
  }
}

.example-element-row {
  &:hover {
    background: rgba(200, 200, 200, 0.5);
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.heading {
  font-weight: 600;
  margin: 5px 0;
}

.page-heading {
  display: flex;
  align-items: center;

  .mat-mini-fab {
    margin-left: 15px;
  }
}

.mat-paginator {
  margin-bottom: 25px;
}
